
body{
  background-color: #40c9d5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 }
 .container{
  background: rgb(245,153,193);
  background: radial-gradient(circle, rgba(245,153,193,1) 0%, rgba(241,157,239,1) 100%);
  margin-top: 70px;
   width:500px;
   display: flex;
   flex-direction: column;
   align-items: center;
  height:250px;
   border-radius: 10px;
 }
 .inputcontainer{
   
   width:500px;
   height: 200px;
   margin-top:50px;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
   
 }
 label{
  
   font-size: 25px;
   font-weight: bold;
 }
 
 .inputtext{
 
   width: 150px;
   padding:5px;
   border:2px solid black;
   border-radius: 5px;
 }
 @media only screen and (max-width: 600px) {
  .container{
    background: rgb(245,153,193);
    background: radial-gradient(circle, rgba(245,153,193,1) 0%, rgba(241,157,239,1) 100%);
    margin-top: 70px;
     width:250px;
     display: flex;
     flex-direction: column;
     align-items: center;
     
    height:200px;
     border-radius: 10px;
   }
   label{
  
    font-size: 15px;
    font-weight: bold;
  }
  .inputcontainer{
   
    width:200px;
    height: 200px;
    margin-top:20px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
  }
}
